:root {
  --main-color: rgba(54, 68, 121,1);
  --orange: rgba(246, 142, 37, 1);
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html, body {
 height: 100%;
 font-size: 16px;
}

body {
  height: 100vh;
  padding: 0;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-image: linear-gradient(79deg, #fcfced, #fcedfc, 48%, #ebf6ff);
}
/*
  6. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}
.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(79deg, #fcfced, #fcedfc, 48%, #ebf6ff);
}

.danger{
  color:rgb(173, 9, 9);
}

.auth-form-container, .login-form, .register-form {
  display: flex;
  flex-direction: column;
  min-height: 31rem;
  text-align: center;
  align-items: center;
  color:var(--main-color);
  margin-bottom: 1rem;
}

.auth-form-container {
  background-image: linear-gradient(79deg, #fcfced, #fcedfc, 48%, #ebf6ff);
  padding: 0;
  margin-top: 30px;
}

.auth-form-container h2{
  font-size: 2.5rem;
  color:var(--main-color);
}

 label{
text-align: left;
padding: 0.25rem 0;
}

input{
margin-bottom: 0.5rem;
width: 20rem;
height: 2.5rem;
border: none;
border-radius: 10px;
} 

::placeholder {
  color: var(--main-color);
}

.btn-login {
color: var(--main-color);
font-size: larger;
font-weight: 700;
border: none;
background-color: white;
border-radius: 10px;
width: 20rem;
cursor: pointer;
height: 3.12rem;
box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.register-here {
  margin-top: 1rem;
}

.info-dauna {
margin-top: 30px;
display: grid;
padding: 1rem 20rem;
background-image: linear-gradient(79deg, #fcfced, #fcedfc, 48%, #ebf6ff);
text-align: justify;
}

.contact {
display: flex;
margin-top: 30px;
flex-direction: column;
align-items: center;
justify-content: center;
background-image: linear-gradient(79deg, #fcfced, #fcedfc, 48%, #ebf6ff);
margin-bottom: 3rem;
}

.contact-items {
  display: grid;
  font-size: 1rem;
}

.contact h1 {
font-size: 1.8rem;
color: var(--main-color);
text-decoration: underline;
}


.rca-container{
  margin-bottom: 3rem;
  text-align: justify;
}

.casco-container{
  margin-bottom: 3rem;
  text-align: justify;
}

.rca-info {
  display: grid;
  width: 80%;
margin-left: 9rem;
font-size: larger;
}


.casco-info {
  display: grid;
  width: 90%;
  margin-left: 9rem;
  font-size: larger;
}

.btn-rca {
  background-color: rgba(246, 142, 37, 1);
  border: none;
  margin-left: 1rem;
  height: 2.5rem;
  width: 10rem;
  color: rgb(36, 46, 83);
  font-size: larger;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.btn-house {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(246, 142, 37, 1);
  border: none;
  margin-left: 1rem;
  height: 2.5rem;
  width: 10rem;
  color: rgb(36, 46, 83);
  font-size: larger;
  border-radius: 10px;
}

.house-container{
  margin-bottom: 3rem;
  text-align: justify;
}

.house-info {
  display: grid;
  width: 80%;
  margin-left: 9rem;
  font-size: larger;
}

.travel-info {
  display: grid;
  width: 80%;
  margin-left: 9rem;
  font-size: larger;
  margin-bottom: 3rem;
  text-align: justify;
}

.insurance-complete{
  margin-bottom: 3rem;
}


@media screen and (max-width: 480px) {
   .info-dauna {
  padding: 1rem;
  width: 100%;
   } 

   .contact {
    width: 100%;
    margin-bottom: 4rem;
   }

   .rca-info {
    margin-left: 1.5rem;
   width: 90%;
   }
   .rca-container{
    width: 100%;
   }

   .btn-rca {
    margin-left: 25%;
   }

   .casco-container{
    width: 100%;
   }

   .casco-info {
    margin-left: 1.5rem;
    width: 90%;
   }

   .house-container{
    width: 100%;
   }

   .house-info {
    margin-left: 1.5rem;
    width: 90%;
   }

   .btn-house{
    margin-left: 25%;
   }

   .travel-info{
    margin-left: 1.5rem;
    width: 90%;
   }

   .insurance-list {
    text-align: center;
    margin-block-start: 1rem;
    margin: 0;
   }

   .insurance-complete{
    width: 100%;
   }

   ul.insurance-list{
    margin: 20px;
    width: 90%;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap:5rem;
   }

   .insurance-item{
    display: flex;
    flex-direction: column;
   }
   .insurance-item img{
    height: 120px;
   }

  }

@media (min-width: 481px) and (max-width: 780px) {
  .info-dauna {
    padding: 1rem;
     } 
  
     .rca-container{
      width: 100%;
     }
     
     .rca-info {
      margin-left: 2rem;
     width: 90%;
     }
  
     .btn-rca {
      margin-left: 25%;
      margin-top: 10px;
     }
  
     .casco-info {
      margin-left: 2rem;
      width: 90%;
     }
  
     .house-info {
      margin-left: 2rem;
      width: 90%;
     }
  
     .btn-house{
      margin-left: 25%;
      margin-top: 10px;
     }
  
     .travel-info{
      margin-left: 2rem;
      width: 90%;
     }
  
     .insurance-list {
      text-align: center;
      margin-block-start: 1rem;
      margin: 0;
     }
  
     ul.insurance-list{
      margin: 0 25px 20px 25px;
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      gap:5rem;
      
     }
  
     .insurance-item img{
      height: 120px;
      margin-left: 40px;
     }
    }

@media (min-width: 781px){
 

  .casco-info{
    width: 80%;
  }

} 