.footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    color: rgb(211, 211, 211);
    background-color: var(--main-color);
    padding-left: 5%;
    padding-top: 5px;
    height: fit-content;
 
}

.footer a{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    color: rgb(211, 211, 211);
    text-decoration: none;
}

 @media screen and (max-width: 480px){
   .footer {
    padding-left: 0;
    font-size: 10px;
    height: fit-content;
    padding-top: 0;
    width: 100%;
}
.footer-info ul {
    padding: 10px;
}

.auth-form-container {
    height: 555px;
    bottom: 0;
    width: 100%;
}

.login-form{
    font-size: 15px;
}

.login-form h2{
    font-size: 30px;
}

.register-form {
    font-size: 15px;
    width: 90%;
}

.register-form h2{
    font-size: 30px;
} } 

@media (min-width: 481px) and (max-width: 780px){
    section.footer {
       padding-left: 0;
       width: 100%;
      font-size: 10px;
 }

 .footer-info ul{
    padding-inline-start: 20px;
 }

 } 