.insurance-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
    gap: 3.12rem;
    margin-inline-start: 12.5rem;
    margin-inline-end: 12.5rem;
    padding: 0;
}

@media (min-width: 480px) and (max-width: 780px){
   
}